DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/2.[[:space:]]Deep[[:space:]]Convolutional[[:space:]]Models/W2A1/models/resnet50.zip filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/3.[[:space:]]Object[[:space:]]Detection/W3A1/model_data/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/4.[[:space:]]Face[[:space:]]Recognition[[:space:]]and[[:space:]]Neural[[:space:]]Style[[:space:]]Transfer/W4A2/pretrained-model/imagenet-vgg-verydeep-19.mat filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/2.[[:space:]]Natural[[:space:]]language[[:space:]]processing[[:space:]]with[[:space:]]words[[:space:]]embedding/W2A2/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/3.[[:space:]]Sequence[[:space:]]models[[:space:]]and[[:space:]]Attention[[:space:]]mechanism/W3A2/XY_dev/X_dev.npy filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/3.[[:space:]]Sequence[[:space:]]models[[:space:]]and[[:space:]]Attention[[:space:]]mechanism/W3A2/XY_train/X.npy filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/4.[[:space:]]Transformer[[:space:]]Network/W4A2/model/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/4.[[:space:]]Transformer[[:space:]]Network/W4A3/model/pytorch/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/4.[[:space:]]Transformer[[:space:]]Network/W4A3/model/tensorflow/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
DataScience/7.[[:space:]]Deep[[:space:]]Learning[[:space:]]Specialization/5.[[:space:]]Sequence[[:space:]]Models/4.[[:space:]]Transformer[[:space:]]Network/W4A4/glove/glove.6B.100d.txt filter=lfs diff=lfs merge=lfs -text
