# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/0566a6fd-78d7-4dca-b6b3-50fe9d79aa47.corrupted.20240312-110953.reason.txt
/dataSources/0566a6fd-78d7-4dca-b6b3-50fe9d79aa47.corrupted.20240312-110953.xml
/HowProgrammingWork.iml
/misc.xml
